<footer class="blog-footer">
  <p>Digitalizacion Company <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/cjmerlos">@JosueMerlos</a>.</p>
  <p>
    <a href="#">Back to top</a>
  </p>
</footer>